{:hooks
 {:analyze-call
  {re-frame.query/reg-query hooks.re-frame-query/reg-query
   re-frame.query/reg-mutation hooks.re-frame-query/reg-mutation
   re-frame.query/init! hooks.re-frame-query/init!}}}
